#
cython==0.29.13
cytoolz==0.10.0
decorator==4.4.0
scikit-learn==0.20.4
scipy==1.3.1
spacy==2.1.8
textacy==0.8.0
gensim
nltk

bokeh
matplotlib
wordcloud
scattertext

jupyterlab
ipywidgets
beakerx
sql-magic

community
networkx==2.3
pydotplus
python_louvain

pandas

humanfriendly
traitlets
typing
py4j

lxml
Scrapy
beautifulsoup4
openpyxl

statsmodels

pipenv
pylint
pipreqs
jupytext
